ib = inline-block

.box
    overflow hidden
    padding-left 15px
    padding-right 15px
    padding-bottom 10px

header
	margin-top 10px

header h2
	display ib
	min-width 4em
	margin-bottom 0
	font-size 18px
	color #111
	padding-left 0
	padding-bottom 0
	font-weight 400
	
header a
	display ib
	float right
	font-size .9rem
	line-height 1.5rem
	color #42bd56
	
.content li
	display ib
	width 50px
	background red
	font-size 15px
	
.content-box
    margin-bottom -25px

.content {
	border-bottom: 1px solid #F2F2F2;
    padding: 15px 0 43px 0;
	font-size: 0;
	white-space: nowrap;
	overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
