.top
    height 50px
    border-bottom 1px solid #f3f3f3
    padding 0 12px
    display flex
    justify-content space-between

.title
    line-height 49px
    font-size 20px
    font-weight 800

.title a
    color #00b600 

.t
    display inline-block

.menu li
    display inline-block
    margin-left 10px
    line-height 49px
    font-size 15px

.menu li a
    color #2384E8
